body {
  font-family: 'Poppins', sans-serif;
  background-color: #e8f0ff;
  color: #1d2d50;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav {
  background-color: #1e2775;
  padding: 1rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover, nav a.active {
  color: #fff596;
}


.members-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 30px 20px 100px;
}

.header {
  width: 100%;
  overflow: hidden;
  background-color: #1d2d50; 
}

.header img {
  width: 100%;
  height: 760px;              
  object-fit: cover;          
  display: block;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.member-box {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center; 
  background-color: #fff6da;
  border-radius: 10px;
  width: auto;
  max-width: auto;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center; 
}

.member-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.member-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member-info {
  text-align: center;
}

.member-info h3 {
  color: #2449a3;
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.member-info p {
  color: #ff8fab;
  font-weight: 500;
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  padding: 10px 18px;
  border-radius: 30px;
  background-color: #2449a3;
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #ffb3c6;
  color: #1d2d50;
  transform: scale(1.05);
}

footer {
  background-color: #1d2d50;
  color: rgb(255, 255, 255);
  padding: 16px;
  text-align: center;
  font-size: 0.9rem;
}